<html>
  <body>
    <H1><center> Survey Elephant </center></H1>
    <form name="display_current" method="get" action="/">
    <input type="submit" name="submit" value="Home">
    </form><br>
    <H2>
    Survey Name:
    {{ survey_name }}
    </H2>
    <H3>
    {% if survey_id %}
      {% ifequal status "deleted" %}
      {% else %}
      <form method="get" action="/edit_survey">
        <input type="hidden" name="survey_id" value="{{ survey_id }}">
        <input type="submit" value="Delete this survey">
      </form>
      {% endifequal %}
    {% endif %}
    </H3>
    {% for survey in surveys %}
      {{ survey.qno }}.
      {{ survey.question }}<br>
      {% for answer in survey.answers %}
        {{ answer }}<br>
      {% endfor %}
      <br><br>
    {% endfor %}
    <b>User Comments </b><br><br>
    {% if comments %}
      {% for comment in comments %}
       <b> {{ comment.user.email }} wrote: <br> </b>
        {{ comment.comment }} <br>
        - on {{ comment.date }} <br><br>
      {% endfor %}
    {% endif %}
    <br><br>
    <a href="{{ url }}">{{ url_linktext }}</a><br>
  </body>
</html>
