<html>
  <body>
    <H1><center> Survey Elephant </center></H1>
    {% if survey_id %}
      <font size="20" color="red"> New Survey Added! </font><br>
    {% endif %}
    {% if survey_name %}
      <font size="20" color="red"> Votes Registered! </font><br>
    {% endif %}
    {% if delete_survey_name %}
      <font size="20" color="red">Survey: {{ delete_survey_name }} was deleted! </font><br>
    {% endif %}
    <a href="/create">Create a New Survey</a><br>
    <a href="/vote">Take a survey</a><br>
    <a href="/my_survey">View my existing surveys</a><br>
    <a href="/all_survey">View all existing surveys</a><br>
    <a href="/view_completed">View all survey results</a><br>
    <a href="{{ url }}">{{ url_linktext }}</a><br>
  </body>
</html>
