<html>
  <body>
    <H1><center> Survey Elephant </center></H1>
    <form method="get" action="/">
    <input type="submit" value="Home"><br>
    </form>
    <form name="vote_my_survey" method="get" action="/vote_my_survey" onsubmit="return validate()">
    <font color="Green"><b>Published Surveys</b></font><br>
    {% for survey in surveys %}
      {% ifequal survey.status "complete" %}
        <input type="radio" name="group1" value="{{ survey.date }}" checked> {{ survey.survey_name }}
        - Created by {{ survey.user.email }} <br>
      {% endifequal %}
    {% endfor %}
    <br>
    {% if surveys %}
      <input type="submit" value="Vote"><br>
    {% endif %}
    <br><br>
    <font color="blue"><b>Attempted Surveys</b></font><br>
    {% if finished_surveys %}
      {% for survey in finished_surveys %}
        {% ifequal survey.status "complete" %}
          {{ survey.survey_name }} -Created by {{ survey.user.email }}<br>
        {% endifequal %}
      {% endfor %}
    {% else %}
      <font color="red"> None Attempted! </font><br>
    {% endif %}
    <br>
    <a href="{{ url }}">{{ url_linktext }}</a><br>
  </body>
</html>
